.login-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* Fundo preto semi-transparente */
  background-color: #242424;
  color: #fff; /* texto branco pra contrastar no fundo escuro */
}


.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.login-logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
  filter: brightness(0) invert(1);
  user-select: none;
  animation: fadeIn 1s ease-in-out;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
  width: 280px;
}

.login-form input {
  height: 44px;
  padding: 0 12px;
  font-size: 14px;
  border: 1px solid #aaa; /* borda mais clara */
  border-radius: 8px;
  background-color: #222; /* fundo escuro para input */
  color: #eee;
}

.login-form input::placeholder {
  color: #bbb;
}

.login-form button {
  height: 44px;
  background-color: #880e69;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #880e69;
}

.login-footer {
   margin-top: auto;
  padding: 20px;
  font-size: 14px;
  color: #ccc;
}