.admin-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -3rem;
  align-items: center;
  background-color: #111827;
  color: white;
  padding: 2rem;
   margin-top: -1rem;
}

.noxus-logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
  filter: brightness(0) invert(1);
  user-select: none;
  animation: fadeIn 1s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.admin-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.admin-buttons-vertical {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 250px;
}

.admin-button {
  padding: 1rem;
  font-size: 1.1rem;
  background-color: #1e40af;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(30, 64, 175, 0.4);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.admin-button:hover {
  background-color: #1d4ed8;
  transform: translateY(-2px);
}

.logout {
  background-color: #b91c1c;
}

.logout:hover {
  background-color: #dc2626;
}

.admin-footer {
  margin-top: 1rem; 
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: white;
  opacity: 0.7;
}